@import "../../global.scss";

.portfolio {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobileExtraSmall {
    /* background-color: greenyellow; */
  }

  h1 {
    margin: 1rem 0px;
    display: flex;
    align-items: center;
    @include mobileExtraSmall {
      /* background-color: yellow; */
      font-size: 2.3rem;
      height: 7rem;
    }

    @include mobileSmall {
    }

    @include mobile {
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include mobileExtraSmall {
      /*  border: 2px solid red; */
      height: 4rem;
      width: 90%;
    }
    @include mobileSmall {
      /* background-color: rebeccapurple; */
    }

    @include mobile {
      height: 3rem;
    }

    li {
      // @include mobileExtraSmall {
      //   min-width: 3rem;
      //   width: 100%;
      //   /* background-color: rgb(47, 248, 255); */
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   height: 100%;
      // }
      // @include mobileSmall {
      // }
      // @include mobile {
      //   margin-bottom: 5px;
      //   font-size: 1.5em;
      // }
    }
  }

  .container {
    margin-top: 10px;
    width: 90%;
    @include flexCenter;
    flex-wrap: wrap;
    @include mobileExtraSmall {
      width: 100%;
      /* background-color: yellow; */
    }
    @include mobileSmall {
      /*  background-color: yellow; */
      width: 100%;
    }
    @include mobile {
      width: 100%;
      height: 100%;
      /*   background-color: yellow; */
      /*  flex-wrap: wrap; */
    }
    @include wBig {
      /* background-color: yellow; */
    }
    .link {
      /*  border: 1px solid red; */
      /* width: 100%; */
      display: flex;

      .item {
        @include mobileExtraSmall {
          @include flexCenter;
          max-width: 100%;
          max-height: 45%;
          width: 40rem;
          height: 45%;
          margin: 10px 20px;
          border-radius: 20px;
          color: white;
          position: relative;
          transition: all 0.5s ease;
          cursor: pointer;
        }
        @include mobileSmall {
          height: 45%;
        }
        @include mobileMedium {
        }
        @include mobile {
          width: 50rem;
          background-color: rgb(255, 81, 81);
        }
        @include desktopSmall {
          width: 50rem;
          background-color: rgb(255, 81, 81);
        }
        @include wBig {
          width: 30rem;
          height: 18rem;
          background-color: black;
        }
        /*  @include mobileSmall {
          height: 50%;
        } */
        a {
          height: 100%;
          width: 100%;
          overflow: hidden;
          position: absolute;
          left: 0;
        }
        h3 {
          position: absolute;
          font-size: 2em;
          pointer-events: none;
          @include mobile {
            text-align: center;
          }
        }
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        &:hover {
          background-color: $mainColor;
          img {
            opacity: 0.3;
            z-index: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
