@import "../../global.scss";

.portfolioList {
  font-size: 1rem;

  cursor: pointer;

  /* transition: all 0.2s; */
  @include mobileExtraSmall {
    /*   height: 10rem; */
    /*  height: 90px; */
    /* background-color: green; */
  }
  @include mobile {
    /* margin-right: 20px; */
  }

  &.active {
    background-color: $mainColor;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
}
