@import "../../global.scss";

.portfolioList {
  font-size: 1.4em;
  /*  background-color: green; */
  cursor: pointer;

  /* transition: all 0.2s; */
  @include mobileExtraSmall {
    height: 10rem;
  }
  @include mobile {
    margin-right: 20px;
  }

  &.active {
    background-color: $mainColor;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
}
