@import "../../global.scss";

.portfolioList {
  font-size: 1.4em;
  margin-right: 50px;
  padding: 7px;
  cursor: pointer;
  /* transition: all 0.2s; */

  &.active {
    background-color: $mainColor;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
}
