@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  @include mobile {
    flex-direction: row;
  }
  .left {
    flex: 1;
    overflow: hidden;

    img {
      min-height: 100%;
      width: 100%;
      object-fit: fill;
    }
    @include mobileExtraSmall {
      display: none;
    }

    @include mobile {
      display: block;
    }
  }
  .right {
    flex: 1;
    @include mobileExtraSmall {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /*  background-color: greenyellow; */
    }
    @include mobileMedium {
      /* background-color: blue; */
    }
    h2 {
      @include mobileExtraSmall {
        font-size: 3rem;
        position: relative;
        top: 1rem;
      }
      @include mobileMedium {
        font-size: 4rem;
        /* background-color: blue; */
        position: relative;
        top: 4rem;
      }

      @include mobile {
        margin-bottom: 0;
      }
    }

    form {
      @include mobileExtraSmall {
        min-width: 100%;
        max-width: 100%;
        /* border: 1px solid black; */
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        position: relative;
      }
      @include mobileMedium {
        /* width: 80%;
        border: 1px solid rgb(255, 0, 0); */
      }
      .input_textArea_wrap {
        display: flex;
        flex-direction: column;
        background-color: burlywood;
        input {
          @include mobileExtraSmall {
            /*  max-width: 84%;
            min-width: 84%;
            height: 30px;
            font-size: 1.4em;
            margin-top: 3px;
            position: relative; */
            /* top: 1rem; */
          }

          &::placeholder {
            padding-left: 5px;
            color: $secondaryColor;
          }
        }
        @include mobileMedium {
        }

        textarea {
          @include mobileExtraSmall {
            /* max-width: 84%;
            min-width: 84%;
            height: 13rem;
            font-size: 1.4em;
            margin-top: 5px; */
          }
          @include mobileMedium {
            /* height: 20rem;
            margin-bottom: 20rem; */
          }

          @include mobile {
            height: 200px;
          }
          &::placeholder {
            padding-left: 5px;
            padding-top: 5px;
            color: $secondaryColor;
          }
        }
        textarea[type="text"] {
          /* width: 100%; */
          /*    padding: 12px 20px;

          box-sizing: border-box; */
        }
      }

      button {
        @include mobileExtraSmall {
          width: 150px;
          height: 30px;
          color: white;
          background-color: $secondaryColor;
          border: none;
          cursor: pointer;
          border-radius: 10px;
          font-weight: 500;
          position: relative;
          bottom: 3rem;
          &:focus {
            outline: none;
          }
          @include mobileSmall {
            position: relative;
            bottom: 3rem;
          }
        }
        @include mobileMedium {
          width: 200px;
          height: 40px;
          position: relative;
          bottom: 4rem;
        }
        @include mobile {
          bottom: 6rem;
        }
      }
      span {
        @include mobileExtraSmall {
          color: #ca6d62;
          font-size: 1.4rem;
          letter-spacing: 1px;
          user-select: none;
          /* height: 2rem; */
          position: relative;
          /*  top: 0.2rem; */
        }
        @include mobile {
          height: 30px;
          overflow: hidden;
          padding-top: 0;
          /* font-size: 1.1rem; */
        }
      }
    }
  }
}
