@import "../../global.scss";

.works {
  background-color: $secondaryColor;
  @include flexCenter;
  position: relative;
  .arrow {
    height: 6em;
    cursor: pointer;
    position: absolute;
    background-color: $mainColor;
    box-shadow: 0px 0px 15px -8px $mainColor;
    border-radius: 50%;
    padding: 10px 10px;

    &:hover {
      background-color: $secondaryColor;
      height: 6.5em;
    }
    &.left {
      left: 250px;
      transform: rotateY(180deg);
    }
    &.right {
      right: 250px;
    }
  }
  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    /* background-color: yellow; */
    transition: all 1s ease-out;
    .container {
      width: 100vw;
      @include flexCenter;
      .item {
        @include flexCenter;
        width: 800px;
        height: 100%;
        background-color: white;
        border-radius: 20px;

        .left {
          flex: 4;
          height: 80%;
          /* background-color: rgb(111, 0, 255); */
          @include flexCenter;

          .leftContainer {
            /* border: 5px solid rgb(255, 0, 0); */
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .imgContainer {
              @include flexCenter;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(243, 166, 138);
              img {
                width: 2.5em;
                /* border: 5px solid rgb(251, 255, 0); */
              }
            }
            h2 {
              font-size: 2em;
            }
            p {
              font-size: 1.6em;
            }
            span {
              font-size: 1.8em;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
              letter-spacing: 1px;
              &:hover {
                color: $secondaryColor;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          /* background-color: rgb(0, 255, 0); */
          @include flexCenter;
          overflow: hidden;
          img {
            width: 350px;
            /* overflow: hidden; */
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
