@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  @include mobileSmall {
  }

  .left {
    flex: 0.55;
    /* background-color: rgb(51, 255, 0); */
    overflow: hidden;
    @include mobileSmall {
      @include flexCenter;
    }
    .img__container {
      width: 20rem;
      height: 20rem;
      overflow: hidden;
      background-color: $secondaryColor;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      float: right;
      position: relative;
      /* top: 1px; */
      @include mobile {
        align-items: flex-start;
      }
      @include mobileSmall {
        /* background-color: rgb(213, 223, 72); */
        width: 18rem;
        height: 18rem;
        align-items: center;
      }

      img {
        /*  border: 2px solid blue; */
        /* height: 90%; */
        width: 70%;
        position: absolute;
        bottom: 300px;

        @include mobile {
          width: 40%;
          bottom: 600px;
        }
        @include mobileSmall {
          width: 100%;
          /*  bottom: 1000px; */
          /* border: 1px solid green; */
          position: initial;
        }
      }
    }
  }
  .right {
    flex: 0.45;

    position: relative;
    .wrapper {
      /* background-color: black; */
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
        justify-content: space-evenly;
      }
      @include mobileSmall {
        justify-content: flex-start;
      }
      h1 {
        letter-spacing: 1px;
        user-select: none;
        font-size: 8em;
        margin: 10px 0;
        @include mobile {
          font-size: 6em;
        }
        @include mobileSmall {
          font-size: 2rem;
          padding-bottom: 30px;
          /*  background-color: green; */
        }
      }
      h2 {
        letter-spacing: 1px;
        user-select: none;
        font-size: 4.5em;
        @include mobile {
          font-size: 4em;
        }
        @include mobileSmall {
          font-size: 2rem;
          padding-bottom: 0.5rem;
        }
      }
      h3 {
        letter-spacing: 2px;
        user-select: none;
        font-size: 2.8em;

        span {
          user-select: none;
          font-size: inherit;
          color: $secondaryColor;

          letter-spacing: 1px;
          @include mobileSmall {
            font-size: 1.8rem;
          }
        }
        .ityped-cursor {
          animation: blink-cursor 1s infinite;
        }

        @keyframes blink-cursor {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;
      img {
        filter: invert(42%) sepia(93%) saturate(892%) hue-rotate(330deg)
          brightness(88%) contrast(103%);
        width: 55px;
        animation: blink 2s infinite;
      }

      @keyframes blink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
