@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;
  @include mobileExtraSmall {
    /* background-color: rgb(177, 253, 177); */
    flex-direction: column;
  }
  @include mobileSmall {
    /* background-color: green; */
  }
  @include mobile {
    /* flex-direction: column;
    align-items: center; */
  }

  .left {
    flex: 0.55;
    /* background-color: rgb(51, 255, 0); */
    overflow: hidden;
    @include mobileExtraSmall {
      @include flexCenter;
    }
    @include mobileSmall {
      @include flexCenter;
    }
    .img__container {
      width: 20rem;
      height: 20rem;
      overflow: hidden;
      background-color: $secondaryColor;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      float: right;
      position: relative;

      @include mobileExtraSmall {
        /* background-color: green; */
        width: 15rem;
        height: 15rem;
      }
      @include mobileSmall {
        /* background-color: rgb(213, 223, 72); */
        width: 18rem;
        height: 18rem;
      }

      @include mobileMedium {
        width: 20rem;
        height: 20rem;
      }
      @include mobile {
        width: 20rem;
        height: 20rem;
        background-color: hotpink;
      }
      img {
        @include mobileExtraSmall {
          width: 100%;
        }
        @include mobile {
          width: 40%;
          bottom: 600px;
        }
        @include mobileSmall {
          width: 100%;
          position: initial;
        }
        @include mobileMedium {
          position: initial;
          width: 100%;
        }
      }
    }
  }
  .right {
    flex: 0.45;

    position: relative;
    .wrapper {
      /* border: 3px dotted red; */
      /* width: calc(100% - 6px); */
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include mobileExtraSmall {
        /* background-color: rgb(130, 128, 230); */
        position: relative;
        bottom: 50px;
      }
      @include mobileSmall {
        /* justify-content: flex-start; */
      }
      /* @include mobile {
        padding-left: 0;
        align-items: center;
        justify-content: space-evenly;
      } */

      h1 {
        letter-spacing: 1px;
        user-select: none;
        font-size: 8em;
        margin: 10px 0;
        @include mobileExtraSmall {
          /* background-color: rgb(128, 105, 0); */
          font-size: 2rem;
        }
        /* @include mobile {
          font-size: 6em;
        } */
        @include mobileSmall {
          font-size: 2rem;
          padding-bottom: 30px;
          /*  background-color: green; */
        }
      }
      h2 {
        letter-spacing: 1px;
        user-select: none;
        font-size: 4.5em;
        @include mobileExtraSmall {
          /*  background-color: rgb(248, 43, 204); */
          font-size: 1.7rem;
        }
        /* @include mobile {
          font-size: 4em;
        } */
        @include mobileSmall {
          font-size: 2rem;
          padding-bottom: 0.5rem;
        }
      }
      h3 {
        letter-spacing: 2px;
        user-select: none;
        font-size: 2.8em;
        @include mobileExtraSmall {
          font-size: 1.5rem;
        }
        @include mobileSmall {
          font-size: 1.7rem;
        }
        span {
          user-select: none;
          font-size: inherit;
          color: $secondaryColor;

          letter-spacing: 1px;
          @include mobileExtraSmall {
            font-size: 1.5rem;
          }
          @include mobileSmall {
            font-size: 1.8rem;
          }
        }
        .ityped-cursor {
          animation: blink-cursor 1s infinite;
        }

        @keyframes blink-cursor {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;
      img {
        filter: invert(42%) sepia(93%) saturate(892%) hue-rotate(330deg)
          brightness(88%) contrast(103%);
        width: 55px;
        animation: blink 2s infinite;
      }

      @keyframes blink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
