@import "../../global.scss";

.testimonials {
  @include flexCenter;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  @include mobile {
    justify-content: space-around;
  }

  h1 {
    font-size: 5em;
    @include mobile {
      font-size: 3em;
      overflow: hidden;
      margin-top: 20px;
    }
  }

  .container {
    @include flexCenter;
    width: 100%;
    height: 80%;
    @include mobile {
      flex-direction: column;
      overflow: hidden;
      height: 100%;
    }
    .card {
      width: 250px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 20px;
      transition: all 1s ease;
      @include mobile {
        height: 180px;
        width: 300px;
        margin: 10px 0;
      }
      &.featured {
        /* background-color: red; */
        width: 300px;
        height: 75%;
        margin: 0 30px;
        @include mobile {
          height: 180px;

          margin: 1px;
        }
      }

      &:hover {
        transform: scale(1.1);
        /* border: 1px solid rgb(255, 45, 45); */
      }

      .top {
        @include flexCenter;

        img {
          &.left,
          &.right {
            height: 25px;
          }

          &.user {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;

            @include mobile {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
      .center {
        padding: 10px;
        background-color: rgb(245, 240, 241);
        border-radius: 10px;
        font-size: 1.6em;
        letter-spacing: 1px;
        @include mobile {
          font-size: 1.2em;
          padding: 5px;
        }
      }

      .bottom {
        @include flexCenter;
        flex-direction: column;

        h3 {
          margin-bottom: 5px;
          font-size: 2em;
          @include mobile {
            font-size: 1.4em;
          }
        }

        h4 {
          color: rgb(105, 105, 105);
          font-size: 1.6em;
          @include mobile {
            font-size: 1.3em;
          }
        }
      }
    }
  }
}
