/* @font-face {
  src: url(./fonts/FontsFree-Net-OriginTech-personal-use-1.ttf);
  font-family: OriginTech;
}

@font-face {
  src: url(./fonts/FontsFree-Net-Bolgen-Sketch.ttf);
  font-family: Bolgen Sketch;
}

@font-face {
  src: url(./fonts/FontsFree-Net-RaceSport-nR1j0.ttf);
  font-family: Race Sport;
}

@font-face {
  src: url(./fonts/FontsFree-Net-american-typewriter-1.ttf);
  font-family: American Typewriter;
}

@font-face {
  src: url(./fonts/OpenSans-Bold.ttf);
  font-family: OpenSans-Bold;
}

@font-face {
  src: url(./fonts/OpenSans-ExtraBold.ttf);
  font-family: OpenSans-ExtraBold;
}
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}
.app {
  height: 100vh;
  font-size: 10px;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: none;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: none;
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
