$mainColor: #141518;
$secondaryColor: #e35241;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$widthExtraSmall: 210px;
$widthSmall: 500px;
$width650: 650px;
$width: 950px;
$width1100: 1100px;
$width1850: 1850px;

// 210px
@mixin mobileExtraSmall {
  @media (min-width: #{$widthExtraSmall}) {
    @content;
  }
}

// 500px
@mixin mobileSmall {
  @media (min-width: #{$widthSmall}) {
    @content;
  }
}

// 650px
@mixin mobileMedium {
  @media (min-width: #{$width650}) {
    @content;
  }
}

//950px
@mixin mobile {
  @media (min-width: #{$width}) {
    @content;
  }
}

// 1100px
@mixin desktopSmall {
  @media (min-width: #{$width1100}) {
    @content;
  }
}

// 1850px
@mixin wBig {
  @media (min-width: #{$width1850}) {
    @content;
  }
}
