$mainColor: #141518;
$secondaryColor: #e35241;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$width: 800px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
